.navbar{
    height: 100% !important;
    align-items: start !important;
}
.navigation-menu{
    height: 100% !important;
    
}

.navbar-collapse{
   align-self:  !important;
   height: 100% !important;
    
}
.bg-dark{
    background-color: #63b175 !important;

}
.bg-light{
    background-color: #63b175 !important;
}